<h1>
  {{title}}
</h1>

<div>
  <p>Criar um component manualmente</p>
  <ul>
    <li>Crie uma pasta: meu-primeiro</li>
    <li>Crie o arquivo: meu-primeiro.component.ts</li>
    <li>Edite o arquivo: app.modules.ts</li>
    <li>Edite o arquivo app.component.html</li>
  </ul>
</div>

<div>
  <p>Criar component automaticamente</p>
  <ul>
    <li>
      <p>
        No terminal, um desses comandos:<br/>
        ng g c component-name<br/>
        ng g component component-name
      </p>
    </li>
  </ul>
</div>

<!-- selector do meu-primeiro.component.ts -->
<meu-primeiro></meu-primeiro>