<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- <div class="collapse navbar-collapse"> -->
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current">
          <a routerLink="/followers">Followers</a>
        </li>
        <li routerLinkActive="active current">
          <a routerLink="/posts">Posts</a>
        </li>
        <li routerLinkActive="active current">
          <a routerLink="/home">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--
  Tive que colcoar o /home porque o "home" sempre ficava como selecionado no menu.
-->