<p> ---------------------------------------------------</p>
<p> ----------------- SECTION 9: http services ----------------- </p>
<p> ---------------------------------------------------</p>

<posts></posts>


<br/><br/><br/><br/>
<p> ---------------------------------------------------</p>
<p> ----------------- SECTION 8 ----------------- </p>
<p> ---------------------------------------------------</p>
<new-course-form></new-course-form>


<br/><br/><br/><br/>
<signup-form></signup-form>


<p> ---------------------------------------------------</p>
<p> ----------------- SECTION 7 ----------------- </p>
<p> ---------------------------------------------------</p>
<br/><br/><br/><br/>
<!-- exercícios section 7 -->
<new-course-form></new-course-form>

<!-- exemplos section 7 -->
<contact-form></contact-form>



<!-- ----- SECTION 6 ----- -->


<!-- -------------- zippy component ----------------- -->
<br/><br/>
<zippy title="Shipping Details">
    Shipping Details Content
</zippy>


<!-- -------------- custom directives ----------------- -->
<br/><br/>
<!-- "appInputFormat" é o nome dado no app.app.component.ts -->
<input type="text" [appInputFormat]="'uppercase'">


<!-- -------------- Traversal Operator ----------------- -->
<br/><br/>
<!-- evita o erro quando a variável for null usando Safe traversal operator -->
<span>{{ task.assignee?.name }}</span>

<!-- evita o erro quando a variável for null usando ngIf -->
<span *ngIf="task.assignee">{{ task.assignee.name }}</span>


<!-- -------------- ngStyle ----------------- -->
<br/><br/>
<button
    [ngStyle]="{
        'backgroundColor': canSave ? 'blue' : 'gray',
        'color': canSave ? 'white' : 'black'
    }"
>
    Save</button>



<!-- -------------- ngFor ----------------- -->
<!--
    Pesquise por "ngForOf" no site do angular.io.

    trackBy: remova o trackBy da tag li abra o inspetor de elementos e clique no botão
    "Load Courses", repare que o DOM é atualizado toda vez que clica no botão,
    coloque o traBy de volta no li e clique no botão novamente, repare que o DOM
    não é atualizado porque os objetos são os mesmos.

    Se você tem uma lista pequena e não tem problema de performance, não use trackBy porque você
    só vai escrever código desnecessário.
    Se você tiver uma lista grande e tiver problema de performance com observer use trackBy
    para melhorar a performance.
-->
<br/><br/>
<button (click)="loadCourses()">Load Courses</button>
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses;
            index as i;
            even as isEven;
            trackBy: trackCourse">
        {{ i }} - {{ course.name }} - <span *ngIf="isEven">(even)</span>
        <button (click)="onRemove(course)">Remove</button>
        <button (click)="onChange(course)">Change</button>
    </li>
</ul>


<!-- -------------- ngSwitchCase ----------------- -->
<br/><br/>
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'">
        <a (click)="viewMode = 'map'" href="#">Map View</a>
    </li>
    <li [class.active]="viewMode == 'list'">
        <a (click)="viewMode = 'list'" href="#">List View</a>
    </li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>

<!-- -------------- hidden ----------------- -->
<!--
    Quando usamos hidden e a condição é false o elemento continua no DOM é igual o display none do css.
    Nesse caso o DOM fica maior e usa mais memória, é mais recomendado ngIf.
    Use [hidden] for small element trees.
    Use [ngIf] for large element trees.
-->
<br/><br/>
<div [hidden]="courses.length == 0">
    List of courses
</div>
<div [hidden]="courses.length > 0">
    No courses yet
</div>



<!-- -------------- ngIf com ng-template ----------------- -->
<br/><br/>
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>



<!-- -------------- ngIf ----------------- -->
<br/><br/>
<div *ngIf="courses.length > 0">
    List of courses
</div>
<div *ngIf="courses.length == 0">
    No courses yet
</div>
<!-- ----- FIM SECTION 6 ----- -->

<!-- ----- SECTION 5 ----- -->
<!--
    O que está entre [ ] [isFavorite] é uma input property
    O que está entre ( ) (change) é uma output property
-->

<!--
<favorite
    [isFavorite]="post.isFavorite"
    (change)="onFavoriteChanged($event)"></favorite>

<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>some content here...</p>
    </div>
</bootstrap-panel>


<like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
></like>
-->

<!-- ----- FIM SECTION 5 ----- -->