<!--
  Olhar styles.css.

  Pesquisar por ngForm no site do Angular
-->

<form #f="ngForm" (ngSubmit)="submit(f)">

  <div>
    <b>Trabalhando com radio button</b>
    <div *ngFor="let method of contactMethods" class="radio">
      <label for="">
        <input ngModel type="radio" name="contactMethod" [value]="method.id">
        {{ method.name }}
      </label>
    </div>
    <p>contactMethod = {{ f.value.contactMethod | json}}</p>
  </div>

  <div>
    <b>trabalhando com drop-down list</b>
    <p>
      value vs ngValeu<br/>
      value - passa apenas a propriedade do objeto json.<br/>
      ngValue - passa o objeto json todo.<br/>
      multiple - permite selecionar várias opções (segure shift ou ctrl).
    </p>
    <div class="form-group">
      <label for="contactMethod">Contact Method</label>
      <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
        <option value="">Selecione</option>
        <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.name }}</option>
        <option *ngFor="let method of contactMethods" [ngValue]="method">{{ method.name }}</option>
      </select>
    </div>
    <p>contactMethod = {{ f.value.contactMethod | json}}</p>
  </div>

  <div>
    <b>trabalhando com checkbox</b>
    <div class="checkbox">
      <label>
        <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
      </label>
    </div>
    <p>{{ f.value | json }}</p>
  </div>

  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="contact.touched && !contact.valid">ngModelGroup error here</div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          required minlength="3" maxlength="10"
          pattern="banana"
          ngModel name="firstName" #firstName="ngModel"
          (change)="log(firstName)"
          id="firstName" type="text" class="form-control"
        >
        <div class="alert alert-danger"
          *ngIf="firstName.touched && !firstName.valid"
        >
          <div *ngIf="firstName.errors.required">First Name is required</div>
          <!-- olhe no console o objeto de erro com suas propriedades -->
          <div *ngIf="firstName.errors.minlength">First name shoud be minium {{ firstName.errors.minlength.requiredLength }} characters.</div>
          <div *ngIf="firstName.errors.pattern">First doesn't match the pattern.</div>
        </div>
    </div>
  </div>

  

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel name="comment"
      id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>

  <button
    class="btn btn-primary"
    [disabled]="!f.valid"
  >Submit</button>
  
</form>